.signup{
  margin-left: 83%;
  background-color: #f9f9f9;
  color: linear-gradient(135deg, #667eea, #764ba2);
  text-decoration: none;
}
.login{
  background-color: #f9f9f9;
  color: linear-gradient(135deg, #667eea, #764ba2);
  text-decoration: none;
}